<div>
  <%= render partial: "tweets/tweet", collection: tweet_activities_data[:tweet_activities], as: :tweet_presenter %>
</div>

<script>
  document.getElementById('dashboard-tweets').dataset.nextPage = '<%= tweet_activities_data[:next_page] %>'
  document.getElementById('dashboard-tweets').dataset.lastPage = '<%= tweet_activities_data[:last_page] %>'
</script>