<div class="col-7">
  <div class="mb-3">
    <%= link_to "Explore", hashtags_path, class: "fs-4 text-decoration-none text-black fw-semibold" %>
  </div>
</div>
<div class="col">
  One of three columns
</div>