.btn-twitter {
  background-color: $twitter-blue;
  color: white;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  font-weight: 600;

  &:hover {
    background-color: $twitter-blue-dark !important;
    color: white !important;
  }
}

.btn-twitter-outline {
  background-color: white;
  color: $twitter-blue;
  border-color: $twitter-blue;
  transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  font-weight: 600;

  &:hover {
    background-color: $twitter-blue !important;
    color: white !important;
  }
}