a.twitter-link {
  color: $twitter-blue !important;
  text-decoration: none;

  &:hover {
    text-decoration: underline !important;
    cursor: pointer;
  }
}

a.tweet-profile-link {
  p {
    color: black !important;
    text-decoration: none !important;
  }

  &:hover {
    text-decoration: underline !important;
    cursor: pointer;
  }
}